<!--  Replace menu links here 
{% for p in site.pages %}
        <li class="nav-item">
          <a class="nav-link" href="{{ p.url }}">{{ p.title }}</a>
        </li>
      {% endfor %}
-->
      

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/about-beginners-web-development">About</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact-beginners-web-dev">Contact</a>
</li>
